.git
.github
.env
.env.*
!.env.example
.venv
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/*.py[cod]
**/*.egg-info
**/node_modules
**/dist
**/build
**/.astro
**/*.log
apps/api/storage/*
